* {
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

div {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 800;
}

h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-variant: small-caps;
    margin-bottom: 1rem;
    margin-top: 0;
    color: gray;
}

.title {
    font-size: 2rem;
    color: rgb(62, 62, 62)
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 6rem;
    height: 6rem;
    border-radius: 50rem;
    background-image: url('profile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.bi-instagram {
    margin-right: 0.5rem;
}

.insta-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.15rem;
    color: white;
    padding: 0.35rem 0.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}